[Unit]
Description=gocron node
After=network.target

[Service]
Restart=always
RestartSec=5
# Execute `systemctl daemon-reload` after ExecStart= is changed.
ExecStart=~/gocron/bin/gocron-node
WorkingDirectory=~/gocron/bin/
[Install]
WantedBy=multi-user.target
