[Unit]
Description=gocron web
After=network.target

[Service]
Restart=always
RestartSec=5
# Execute `systemctl daemon-reload` after ExecStart= is changed.
ExecStart=~/gocron/bin/gocron web
WorkingDirectory=~/gocron/bin/
[Install]
WantedBy=multi-user.target
