{{{ template "common/header" . }}}
<style type="text/css">
  pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    padding:10px;
    background-color: #4C4C4C;
    color: white;
  }
</style>
<div class="ui grid">
  <!--the vertical menu-->
  {{{ template "task/menu" . }}}

  <div class="twelve wide column">
    <div class="pageHeader">
      <div class="segment">
        <h3 class="ui dividing header">
          <div class="content">
          </div>
        </h3>
      </div>
    </div>
    <form class="ui form">
      <div class="fields search">
        <div class="field">
          <select name="status">
            <option value="0">任务状态</option>
            <option value="1" {{{if eq .Params.Status 0}}}selected{{{end}}} >失败</option>
            <option value="2" {{{if eq .Params.Status 1}}}selected{{{end}}}>执行中</option>
            <option value="3" {{{if eq .Params.Status 2}}}selected{{{end}}}>成功</option>
            <option value="6" {{{if eq .Params.Status 5}}}selected{{{end}}}>待执行</option>
          </select>
        </div>
        <div class="field">
          <button class="ui linkedin submit button">搜索</button>
        </div>
      </div>
    </form>
    <table class="ui pink table">
      <thead>
      <tr>
        <th>任务ID</th>
        <th>URL</th>
        <th>参数</th>
        <th>延迟时间</th>
        <th>创建时间</th>
        <th>完成时间</th>
        <th>状态</th>
      </tr>
      </thead>
      <tbody>
      {{{range $i, $v := .Tasks}}}
      <tr>
        <td>{{{.Id}}}</td>
        <td>{{{.Url}}}</td>
        <td>{{{.Params}}}</td>
        <td>{{{.Delay}}}秒</td>
        <td>{{{.Created.Format "2006-01-02 15:04:05" }}}</td>
        <td>
          {{{if or (eq .Status 0) (eq .Status 2) }}}
            {{{.Updated.Format "2006-01-02 15:04:05" }}}
          {{{end}}}
        </td>
        <td>
          {{{if eq .Status 2}}}
          成功
          {{{else if eq .Status 1}}}
          <span style="color:green">执行中</span>
          {{{else if eq .Status 0}}}
          <span style="color:red">失败</span>
          {{{else if eq .Status 5}}}
          <span style="color:#43A102">待执行</span>
          {{{end}}}
        </td>
      </tr>
      {{{end}}}
      </tbody>
    </table>
    {{{ template "common/pagination" .}}}
  </div>
</div>

{{{ template "common/footer" . }}}