{{{ template "common/header" . }}}

<div class="ui grid">
    <!--the vertical menu-->
   {{{ template "task/menu" . }}}

    <div class="twelve wide column">
        <div class="pageHeader">
            <div class="segment">
                <h3 class="ui dividing header">
                    <i class="large add icon"></i>
                    <div class="content">
                        任务日志
                    </div>
                </h3>
            </div>
        </div>
        <table class="ui single line table">
            <thead>
            <tr>
                <th width="8%">任务名称</th>
                <th width="8%">cron表达式</th>
                <th width="8%">协议</th>
                <th width="8%">任务类型</th>
                <th width="8%">命令</th>
                <th width="8%">超时时间(秒)</th>
                <th width="8%">延迟时间(秒)</th>
                <th width="8%">主机</th>
                <th width="8%">开始时间</th>
                <th width="8%">结束时间</th>
                <th width="8%">状态</th>
                <th width="8%">执行结果</th>
            </tr>
            </thead>
            <tbody>
            {{{range $i, $v := .Logs}}}
            <tr>
                <td>{{{.Name}}}</td>
                <td>{{{.Spec}}}</td>
                <td>{{{.Protocol}}}</td>
                <td>{{{.Type}}}</td>
                <td>{{{.Command}}}</td>
                <td>{{{.Timeout}}}</td>
                <td>{{{.Delay}}}</td>
                <td>{{{.SshHosts}}}</td>
                <td>{{{.StartTime}}}</td>
                <td>{{{.EndTime}}}</td>
                <td>{{{.Status}}}</td>
                <td>{{{.Result}}}</td>
            </tr>
            {{{end}}}
            </tbody>
        </table>
    </div>
    <!--the newDevice form-->
</div>


<script type="text/javascript">
    $('.ui.form').form(
            {
                onSuccess: function(event, fields) {
                    var util = new Util();
                    util.post('/host/store', fields, function(code, message) {
                        location.reload();
                    });

                    return false;
                },
                fields: {
                    name: {
                        identifier  : 'name',
                        rules: [
                            {
                                type   : 'empty',
                                prompt : '请输入主机名'
                            }
                        ]
                    },
                    alias: {
                        identifier  : 'alias',
                        rules: [
                            {
                                type   : 'empty',
                                prompt : '请输入主机别名'
                            }
                        ]
                    },
                    username: {
                        identifier  : 'username',
                        rules: [
                            {
                                type   : 'empty',
                                prompt : '请输入SSH用户名'
                            }
                        ]
                    },
                    port: {
                        identifier  : 'port',
                        rules: [
                            {
                                type   : 'integer',
                                prompt : '请输入SSH端口'
                            }
                        ]
                    }
                },
                inline : true
            });
</script>

{{{ template "common/footer" . }}}