
</div>
</div>
<footer>
    <div id="copyrights">
        <div class="inset">
            <div class="bigcontainer">
                <div class="fl">
                    <p>&copy; 2017 cron-scheduler
                        <i class="Github Alternate icon"></i><a href="https://github.com/ouqiang/cron-scheduler" target="_blank">
                            GitHub
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" src="/resource/javascript/jquery.min.js"></script>
<script type="text/javascript" src="/resource/javascript/framework.js"></script>
<script>
    $(
        function(){
            $('.ui.dropdown').dropdown();
            $('select.dropdown').dropdown();
        }
    );
</script>
</body>
</html>