</div>
<footer>
    <div id="copyrights">
        <div class="inset">
            <div class="bigcontainer">
                <div class="fl">
                    <p>&copy; 2017 gocron
                        <i class="Github Alternate icon"></i><a href="https://github.com/ouqiang/gocron" target="_blank">
                            GitHub
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<script>
    $(
        function(){
            $('.ui.dropdown').dropdown();
        }
    );
</script>
</body>
</html>