{{{ template "common/header" . }}}

<div class="ui grid">
   {{{ template "host/menu" . }}}

    <div class="twelve wide column">
        <div class="pageHeader">
            <div class="segment">
                <h3 class="ui dividing header">
                    <i class="linux icon"></i>
                    <div class="content">
                        主机列表
                    </div>
                </h3>
            </div>
        </div>
        <table class="ui striped table">
            <thead>
            <tr>
                <th>主机名</th>
                <th>别名</th>
                <th>用户名</th>
                <th>端口</th>
                <th>任务数量</th>
                <th>备注</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {{{range $i, $v := .Hosts}}}
            <tr>
                <td>{{{.Name}}}</td>
                <td>{{{.Alias}}}</td>
                <td>{{{.Username}}}</td>
                <td>{{{.Port}}}</td>
                <td></td>
                <td>{{{.Remark}}}</td>
                <td class="operation">
                    <a class="ui purple button"  href="/host/edit/{{{.Id}}}">编辑</a>
                    <button class="ui positive button" onclick="util.removeConfirm('/host/remove/{{{.Id}}}')">删除</button>
                    <button class="ui blue button" @click="ping({{{.Id}}})">连接测试</button>
                </td>
            </tr>
            {{{end}}}
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    var Vue = new Vue({
       el: '.ui.striped.table',
       methods: {
           ping: function(id) {
               swal({
                   title: '',
                   text: "连接中.......",
                   type: 'info',
                   showConfirmButton: false
               });
               util.get("/host/ping/" + id, function(code, message) {
                   swal('操作成功', '连接成功', 'success');
               })
           }
       }
    });
</script>

{{{ template "common/footer" . }}}