{{{ template "common/header" . }}}

<div class="ui grid">
  {{{ template "manage/menu" . }}}

  <div class="twelve wide column">
    <div class="pageHeader">
      <div class="segment">
        <h3 class="ui dividing header">
            <div class="content">
              登录日志
            </div>
        </h3>
      </div>
    </div>
    <table class="ui striped table">
      <thead>
      <tr>
        <th>用户名</th>
        <th>登录IP</th>
        <th>登录时间</th>
      </tr>
      </thead>
      <tbody>
      {{{range $i, $v := .LoginLogs}}}
      <tr>
        <td>{{{.Username}}}</td>
        <td>{{{.Ip}}}</td>
        <td>{{{.Created}}}</td>
      </tr>
      {{{end}}}
      </tbody>
    </table>
    {{{ template "common/pagination" .}}}
  </div>
</div>


{{{ template "common/footer" . }}}